/* CSS for the footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--s0);
  background-color: var(--color-dark-secondary);
  color: var(--color-light-secondary);
  min-height: 3.125rem;
  font-size: 14px;
}

.footer a {
  color: inherit;
  text-decoration: underline;
}