:root {
  --color-primary: teal;
  --color-secondary: blueviolet;
  --color-tertiary: pink;
  --color-light-primary: hsl(0, 0%, 100%);
  --color-light-secondary: hsl(194, 100%, 95%);
  --color-light-tertiary: hsl(0, 0%, 95%);
  --color-dark-primary: hsl(0, 0%, 0%);
  --color-dark-secondary: hsl(0, 0%, 15%);
  --color-dark-tertiary: hsl(0, 0%, 25%);
  --color-error: red;
  --color-warning: yellow;
  --color-success: green;
  --color-info: blue;

  --measure: 60ch;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: var(--measure);
}

a {
  color: inherit;
  text-decoration: none;
}