/* CSS for the hero section */
.heroContainer {
  display: flex;
  justify-content: center;
  margin-bottom: var(--s4);
  padding: 0 var(--s1);
  color: var(--color-dark-secondary);
  min-height: 35vh;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 900;
  text-shadow: -3px 1px 0 var(--color-primary-light);
}

.hero {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s2);
  align-items: center;
}

.hero > * {
  flex-grow: 1;
  flex-basis: calc((36rem - 100%) * 999);
}

.hero > :nth-last-child(n+ 3),
.hero > :nth-last-child(n+ 3) ~ * {
  flex-basis: 100%;
}

.heroImage {
  --n: 1;
  --d: 1;
  aspect-ratio: var(--n) / var(--d);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-mid);
  max-height: 600px;
}

.heroImage > img,
.heroImage > video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.heroContent {
  max-width: var(--measure);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1000px;
  margin: 0 auto;
}

.heroContent * {
  margin-block: 0;
}

.heroContent *+* {
  margin-block-start: var(--space, 1.25rem);
}

.shown {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s0);
  justify-content: flex-start;
  align-items: baseline;
  max-width: var(--measure);
}

.shown > * {
  flex-grow: 1;
  flex-basis: calc((23rem - 100%) * 999);
}

.shown > :nth-last-child(n+ 3),
.shown > :nth-last-child(n+ 3) ~ * {
  flex-basis: 100%;
}

.subscribeForm input[type="email"] {
  flex: 3;
  width: 100%;
  padding: 1.25rem;
  border: var(--border-thin) solid var(--color-dark-secondary);
  border-radius: var(--border-radius-mid);
  font-size: 1.125rem;
}

.subscribeForm button {
  padding: 1.25rem;
  border: var(--border-thin) solid var(--color-dark-secondary);
  border-radius: 0.25rem;
  font-size: 1.125rem;
  background-color: var(--color-primary);
  color: var(--color-light-primary);
  margin-top: 0;
}