.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.article {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-light-secondary);
  padding: var(--s2);
  border: var(--border-thin) solid var(--color-light-tertiary);
  border-radius: var(--border-radius-mid);
  box-shadow: 0 0 15px 5px var(--color-shadow);
}

.article h3 {
  font-size: 1.5rem;
  font-weight: bolder;
}