.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.article {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-light-secondary);
  padding: var(--s2);
  border: var(--border-thick) solid var(--color-dark-secondary);
  border-radius: var(--border-radius-mid);
}

.article h3 {
  font-size: 1.5rem;
  font-weight: bolder;
}