.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.articles {
  display: flex;
  flex-direction: column;
}

.article {
  width: 100%;
  margin: 1.25rem auto;
  background-color: var(--color-light-secondary);
  padding: 2.5rem;
  border: var(--border-thick) solid var(--color-dark-secondary);
  border-radius: var(--border-radius-mid);
}

.article h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: var(--s-1);
}